
<form [formGroup]="loginForm">
<div class="loginmodal-container">
    <h1>Login to Your Account</h1><br>
    <input type="text" name="email" formControlName="email" placeholder="Email id" ngClass="{'has-error' : isSubmited==true}">
    <input type="password" name="password" formControlName="password" placeholder="Password">
    <input type="submit" (click)="checkLogin(loginForm)" name="login" class="login loginmodal-submit" value="Login">
    <div class="login-help">
       <a href="#">Register</a> - <a href="#">Forgot Password</a>
    </div>
</div>
</form>
